
<html>
<body>
<div style="margin-left:10%;padding:2px 16px;height:1000px;">
        <table align="left" border="0">
            <tr>
                <th>{% include 'sidebar.html' %}</th>
            </tr>
        </table>
    <table align="center" border="0">
        <tr>
            <th>{% include 'verticalbar.html' %}</th>
        </tr>
        </table>
    <table align="center" border="0"></table>
    <table align="center" border="0" style="width: 1cm;">
        <tr>
            <th>{% include 'badmin/adminloginpage.html' %}</th>
        </tr>
        </table>


</div>

</body>
</html>
